/* Smart Phones And Tablets */
@media (max-width: 767px)
{
    
    .heading span{font-size: 35px;}

    .para{margin: 0 15%; margin-bottom: 60px;}
    
    .heading{font-size: 40px;}
    
    .header .navbar-nav { float: none; background-color: #fff; }
    
	.header.shrink .navbar-nav li a,
	.header .navbar-nav li a { padding: 10px 10px; color: #222; }
	
	.slider .overlay .title h1,
	.home .overlay .title h1,
	.video-container .overlay .title h1,
	.home .overlay .title h1.tlt span{font-size: 45px;}

	.slider .overlay .title span,
	.home .overlay .title span,
	.video-container .overlay .title span{font-size: 35px;}

	.slider .overlay .title p,
	.home .overlay .title p,
	.video-container .overlay .title p{font-size: 16px;}
    
    .team .controllers .prev{left: -15px;}
    
    .team .controllers .next{right: -15px;}
    
    .team .controllers span{height: 30px; width: 30px; line-height: 30px;}

    .help .box{margin: 0 15px;}
}

/* Small Screen */
@media (min-width: 768px) and (max-width: 991px)
{
    .team .controllers .prev{left: -15px;}
    
    .team .controllers .next{right: -15px;}
}

/* Medium Screen */
@media (min-width:992px) and (max-width: 1199px)
{ 
    
    .team .controllers .next{right: -5px}
    
    .team .controllers .prev{left: -5px}
    
    .help .box .item{min-height: 324px; padding: 30px}
}
@media(max-width:500px){
   .container a{
    max-width: 60%;
    margin: auto;
padding: 20px;
  
   }
}

/* Large Screen */
@media (min-width:1200px)
{
    .about .words{margin: 0 10%;}
}

@media (max-width:600px){
    .form-resp{
        top: 40%;
        max-width: 80%;
        margin: auto;
        /* float: left; */
    }
    .bottom{
       margin-top: 50vh;
       
    }
}

